.mtforms-skin-default {
  background-color: var(--mtforms-bg);
  box-shadow: var(--mtforms-shadow);

  .mtforms {

    &-input,
    &-textarea {
      background-color: var(--mtforms-input-bg);
      color: var(--mtforms-text);

      &:hover,
      &:focus {
        background-color: var(--mtforms-bg);
      }
    }

    &-checkbox-label {
      color: var(--mtforms-text-light);
    }

    &-checkbox-custom {
      background-color: var(--mtforms-input-bg);
    }

    &-submit-btn {
      background-color: var(--mtforms-primary);
      color: #ffffff;

      &:hover {
        background-color: var(--mtforms-secondary);
      }
    }
  }
}