.mtforms {

  &-skin-default {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2rem;
    background-color: var(--mtforms-bg);
    box-shadow: var(--mtforms-shadow);
  }

  &-form-inner {

  }

  &-form-group {

    label {

    }
  }

  &-input,
  &-textarea {
    border-radius: var(--mtforms-radius);
    border-color: var(--mtforms-input-border);
    background-color: var(--mtforms-input-bg);
    color: var(--mtforms-text);
  }

  &-textarea {

  }

  &-checkbox-label {
    color: var(--mtforms-text-light);

    &:hover .mtforms-checkbox-custom {
      border-color: var(--mtforms-text-light);
    }
  }

  &-checkbox {
    &:checked ~ .mtforms-checkbox-custom {
      background-color: var(--mtforms-text);
      border-color: var(--mtforms-text);
    }

    &.just-validate-error-field ~ .mtforms-checkbox-custom {
      border-color: var(--mtforms-error);
    }
  }

  &-checkbox-custom {

    &::after {

    }
  }

  &-submit-btn {
    gap: 0.5rem;
    width: fit-content;
    padding: 1rem 2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: var(--mtforms-radius);
    background-color: var(--mtforms-primary);
    color: #ffffff;

    &:hover {
      background-color: var(--mtforms-secondary);

      svg {
        transform: translateX(2px);
      }
    }

    svg {
      transition: transform 0.2s ease;
    }
  }
}