.mtforms-skin-default {
  background-color: var(--mtforms-bg);
  box-shadow: var(--mtforms-shadow);
}
.mtforms-skin-default .mtforms-input, .mtforms-skin-default .mtforms-textarea {
  background-color: var(--mtforms-input-bg);
  color: var(--mtforms-text);
}
.mtforms-skin-default .mtforms-input:hover, .mtforms-skin-default .mtforms-input:focus, .mtforms-skin-default .mtforms-textarea:hover, .mtforms-skin-default .mtforms-textarea:focus {
  background-color: var(--mtforms-bg);
}
.mtforms-skin-default .mtforms-checkbox-label {
  color: var(--mtforms-text-light);
}
.mtforms-skin-default .mtforms-checkbox-custom {
  background-color: var(--mtforms-input-bg);
}
.mtforms-skin-default .mtforms-submit-btn {
  background-color: var(--mtforms-primary);
  border-color: var(--mtforms-primary);
  color: #ffffff;
}
.mtforms-skin-default .mtforms-submit-btn:hover {
  background-color: var(--mtforms-secondary);
}